[Unit]
Description=Maildog: the extensible, email reply pup at your service

[Service]
ExecStart=maildog/tests/example_app.py
  
[Install]
WantedBy=multi-user.target
