{%- if first_name is defined -%}
Hi {{ first_name }}
{%- else -%}
Hello,
{%- endif %}

Thank you for getting in touch.

Let us know if I you need more information.

We are looking forward to meeting you.

Best wishes,

Your maildog
