{%- if first_name is defined -%}
Hallo {{ first_name }}
{%- else -%}
Grüezi
{%- endif %}

Vielen Dank für Dein Mail.

Hier ist mehr Info.

Wir freuen uns Dich kennenzulernen.

Liebe Grüsse
Ihr maildog
